@model KenyattaUniversity.Models.Student

<h1>Create Student</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Fname"></label>
        <input asp-for="Fname" class="form-control" />
        <span asp-validation-for="Fname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lname"></label>
        <input asp-for="Lname" class="form-control" />
        <span asp-validation-for="Lname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="date" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}