@model KenyattaUniversity.Models.Course

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Create Course</h2>

            <form asp-action="CreateCourse" method="post">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credits" class="control-label"></label>
                    <input asp-for="Credits" class="form-control" />
                    <span asp-validation-for="Credits" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <a asp-controller="Admin" asp-action="Dashboard">Back to Dashboard</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}